body{
  margin: 0;
  padding: 0;
  font-family: 'Exo 2', sans-serif;
  background-color: #1b1b1b;
  color: white;
}



#navbar {
  height: 4vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  color: #fff;
  background-color: #0f0e0e;
}
.logo{
  max-width: 150px;
  cursor: pointer;
}

.nav-list {
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  
}

.links {
  color: white;
  cursor: pointer;
  transition: color 0.2s;
}

.links:hover{
  color: red;
}

.searchbar {
  background-color: #363636;
  border-radius: 10px;
  width: 75%;
  display: flex;
  align-items: center;
}

.icon {
  cursor: pointer;
  padding: 10px 8px;
  font-size: 20px;
  color: white;
  text-align: center;
}

.input-field {
  color: white;
  width: 100%;
  padding:10px 0;
  text-align: left;
  background-color: transparent;
  border: none;
}
.input-field::placeholder{
  font-family: 'Exo 2', sans-serif;
}

.menu-icon {
  display: none;
}

.container{
  padding: 0 15px;
  max-width: 1280px;
  margin: auto;
}

.headers{
  width: 100%;
  text-decoration: underline;
  text-decoration-color: red;
  text-decoration-thickness: 2px;
  text-underline-offset: 10px;
  margin-bottom: 40px;
}

.list-container{
  display: flex;
  align-items: center;
  height: fit-content;
  justify-content: center;
  row-gap: 15px;
  flex-wrap: wrap;
  column-gap: 15px;
}

.card-container{
  border-radius: 5px;
  width: 243px;
  height:380px;
  position: relative;
}

.cover{
  border-radius: 5px;
  width: 100%;
  height: 80%;
  object-fit: cover;
  z-index: -100;
  cursor: pointer;
}
.cover:hover{
  transition: opacity 0.3s;
  opacity: 0.6;
}

.title{
  word-wrap: break-word;
  font-size: medium;
  cursor: pointer;
  margin:5px 0 2px;
  z-index: 999;
}
.title:hover{
  color: red;
}
.episodes{
  font-weight: 300;
  font-size: 10px;
}

.pagination-container{
  display: flex;
  width: 100%;
  justify-content: center;
}

.pagination {
  list-style: none;
  display: flex;
  margin-top: 1rem;
  margin-bottom: 5rem;
  font-size: 1.125rem;
  line-height: 1.75rem;
  gap: 5px;
}
.pagination .break {
  cursor: pointer;
}

.pagination .page-num{
  padding: 8px 15px;
  cursor: pointer;
  border-radius: 3px;
  font-weight: 400;
  color: white;
  
}

.pagination .page-num:hover{
  transition: background-color 0.2s;
  background-color: red;
}

.pagination .active{
  background-color: red;
}

.skeleton{
  animation: skeleton-loading 0.5s linear infinite alternate;
}

.tags{
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding: 5px 8px;
  background-color: #363636;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.tags span{
  font-size: 14px;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 80%);
  }
  100% {
    background-color: hsl(200, 20%, 95%);
  }
}

@media (max-width: 768px) {

  .menu-icon {
    font-size: 25px;
    display: block;
    cursor: pointer;
    transition: 0.2s;
  }
  .menu-icon.active {
    color: red;
  }

  .nav-list{
    transition: 0.5s;
    position: fixed;
    top: 68px;
    left: -100%;
    width: 100vw;
    height: 96vh;
    background-color: #1b1b1b;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    z-index: 999;
    font-size: 40px;
    gap: 50px;
  }

  .nav-list.active{
    transition: 0.5s;
    
    left: 0;
    display: flex;
  }

  .links{
    margin-top: 260px;
    font-size: 50px;
  }
  .icon {
    padding: 10px 10px;
    font-size: 40px;
  }
  .input-field {
    font-size: 30px;
  }
  .card-container{
    border-radius: 5px;
    max-width: 180px;
    height:350px;
    position: relative;
  }
  .title{
    font-size: 10px;
  }
  .episodes{
    font-weight: 300;
    font-size: 9px;
  }
  .pagination {
    font-size: 0.825rem;
    line-height: 1.25rem;
    margin-left: -25px;
  }

  .pagination .page-num {
    padding: 6px 12px;
  }
  
}