body{
  margin: 0;
  padding: 0;
  font-family: 'Exo 2', sans-serif;
  background-color: #1b1b1b;
  color: white;
}

.no-border{
  border: none !important;
}


#navbar {
  height: 4vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  color: #fff;
  background-color: #0f0e0e;
}
.logo{
  max-width: 150px;
  cursor: pointer;
}

.nav-list {
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  
}

.links {
  color: white;
  cursor: pointer;
  transition: color 0.2s;
}

.links:hover{
  color: red;
}

.searchbar {
  background-color: #363636;
  border-radius: 10px;
  width: 75%;
  display: flex;
  align-items: center;
}

.icon {
  cursor: pointer;
  padding: 10px 8px;
  font-size: 20px;
  color: white;
  text-align: center;
}

.input-field {
  color: white;
  width: 100%;
  padding:10px 0;
  text-align: left;
  background-color: transparent;
  border: none;
}
.input-field::placeholder{
  font-family: 'Exo 2', sans-serif;
}

.menu-icon {
  display: none;
}

.container{
  padding: 0 15px;
  max-width: 1280px;
  margin: auto;
}

.headers{
  width: 100%;
  text-decoration: underline;
  text-decoration-color: red;
  text-decoration-thickness: 2px;
  text-underline-offset: 10px;
  margin-bottom: 40px;
}

.list-container{
  display: flex;
  align-items: center;
  height: fit-content;
  justify-content: center;
  row-gap: 15px;
  flex-wrap: wrap;
  column-gap: 15px;
}

.card-container{
  border-radius: 5px;
  width: 243px;
  height:380px;
  position: relative;
}

.cover{
  border-radius: 5px;
  width: 100%;
  height: 80%;
  object-fit: cover;
  z-index: -100;
  cursor: pointer;
}
.cover:hover{
  transition: opacity 0.3s;
  opacity: 0.6;
}

.title{
  word-wrap: break-word;
  font-size: medium;
  cursor: pointer;
  margin:5px 0 2px;
  z-index: 999;
}
.title:hover{
  color: red;
}
.episodes-home{
  font-weight: 300;
  font-size: 10px;
}

.pagination-container{
  display: flex;
  width: 100%;
  justify-content: center;
}

.pagination {
  list-style: none;
  display: flex;
  margin-top: 1rem;
  margin-bottom: 5rem;
  font-size: 1.125rem;
  line-height: 1.75rem;
  gap: 5px;
}
.pagination .break {
  cursor: pointer;
}

.pagination .page-num{
  padding: 8px 15px;
  cursor: pointer;
  border-radius: 3px;
  font-weight: 400;
  color: white;
  
}

.pagination .page-num:hover{
  transition: background-color 0.2s;
  background-color: red;
}

.pagination .active{
  background-color: red;
}

.skeleton{
  animation: skeleton-loading 0.5s linear infinite alternate;
}

.tags{
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding: 5px 8px;
  background-color: #363636;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.tags span{
  font-size: 14px;
}

.Accordion-container{
  height: 54px;
  padding: 0 15px;
  max-width: 1280px;
  margin: 20px auto;
  overflow-y: hidden;
  border: 2px dashed #a71010;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  transition: height 0.5s ease;
}
.Accordion-container.active{
  height: auto;
  transition: 0.5s ;
}
.accordion-content{
  display: flex;
  align-items: center;
  gap: 20px;
}
.accordion-content h4{
  border: 1px solid rgba(122, 66, 1, 0.966);
  padding: 10px;
}

.button-group{
  display: flex;
  justify-content: space-between;
}

.add-button{
  display: flex;
  align-items: center;
  padding: 5px;
  cursor: pointer;
  transition: 0.2s;
}
.add-button:hover{
  text-decoration: underline;
  text-underline-offset: 5px;
  color: red;
}

.add-button:hover *{
  color: red;
}

.Accordion-expand{
  cursor: pointer;
  background-color: inherit;
  border: none;
  font-size: 20px;
  color: white;
}
.Accordion-expand:hover{
  color: red;
}

.modal-overlay{
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 480; /* Sit on top */
  left: 0;
  top: 0%;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-overlay.active{
  display: block;
}
.modal{
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 500; /* Sit on top of overlay */
  left: 30%;
  top: 40%;
  width: 40%; /* Full width */
  overflow: auto; /* Enable scroll if needed */
}

.modal.active{
  display: block;
}

/* Modal Content/Box */
.modal-box {
  background-color: #1b1b1b;
  padding: 20px;
  width: 95%; /* Could be more or less, depending on screen size */
  border-radius: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}
.modal-header-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.modal-header-container span{
  font-size: 25px;
  font-weight: 700;
}

/* aaaaaaaaaaaaaaaaaaaaaaaaaa */

.submodal-overlay{
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 510; /* Sit on top */
  left: 0;
  top: 0%;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.submodal-overlay.active{
  display: block;
}
.submodal{
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 520; /* Sit on top of overlay */
  left: 38%;
  top: 40%;
  width: 25%; /* Full width */
  
}

.submodal.active{
  display: block;
}

.submodal-box {
  background-color: #1b1b1b;
  padding: 20px;
  width: 95%; /* Could be more or less, depending on screen size */
  border-radius: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}
.submodal-header-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.submodal-header-container span{
  font-size: 20px;
  font-weight: 700;
}
.submodal-input{
  font-size: 20px;
  width: 95%;
  color: white;
  border: 2px solid rgb(90, 82, 82);
  background-color: inherit;
  border-radius: 10px;
  padding:  12px;
  margin-bottom: 5px;
}
.submodal-input:focus{
  border-color: red;
  transition: 0.2s;
}
.submodal-input:focus-visible{
  outline: none;
}
.input-count{
  display: block;
  padding-left: 2px;
  margin-bottom: 15px;
}
.submit-collection{
  color: white;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  background-color: red;
  border-radius: 10px;
  padding:  12px;
  width: 100%;
  font-size: 20px;
  transition: 0.2s;
  cursor: pointer;
}
.submit-collection:disabled{
  box-shadow: none;
  background-color: rgba(82, 75, 75, 0.37);
  border: 2px solid rgb(90, 82, 82);
  color: rgba(255, 255, 255, 0.253);
  cursor: not-allowed;
  
}
/*  */




/* The Close Button */
.close {
  color: #aaa;
  font-size: 45px;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: rgb(177, 7, 7);
}

.modal-content{
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.add-collection{
  display: flex;
}
.add-collection:hover *{
  text-decoration: underline;
  text-underline-offset: 5px;
  cursor: pointer;
}
.add-collection p{
  color: rgb(0, 253, 34);
  
  transition: 0.2s;
  margin-right: 10px;
}
.add-collection p:hover{
  color: rgb(0, 253, 34);
}
.collection-image-container{
width: 50px;
height: 50px;
background-color: white;
border-radius: 10px;
margin-right: 20px;
}

.collection-image-container img{
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.collection-card-container{
  border: 3px dashed rgba(105, 98, 98, 0.808);
  border-radius: 25px;
  width: 250px;
  height:400px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.1s;
  object-fit: cover;
}


.collection-card-container:hover *{
  visibility: visible;
  transition: 0.2s;
}
.collection-card-container img{
  height: 100%;
  width: 100%;
  border-radius: 25px;
}

.collection-card-container:hover img{
  opacity: 0.2;
}

.collection-card-container h2{
  text-align: center;
  cursor: pointer;
  visibility: hidden;
  position: absolute;
  left: auto;
  top: 40%;
  color: rgb(247, 237, 237);
  
}

.collection-card-container h2:hover{
  text-decoration: underline;
  text-decoration-color: red;
  text-decoration-thickness: 2px;
  text-underline-offset: 10px;
  
}

.collection-card-container button{
  border: none;
  visibility: hidden;
  border-radius: 999px;
  top: 2%;
  right: 4%;
  position: absolute;
  background-color: white;
}

.collection-card-container button:hover{

  background-color: rgb(116, 109, 109);
}

.collection-card-container button:hover .icon{
  color: rgb(155, 5, 5) !important;
 
}

.delete-group{
  display: flex;
  gap: 10px;
  justify-content: space-around;
  color: white;
}

.delete-group button{
  width: 45%;
  font-size: 20px;
  font-weight: 600;
  border: none;
  padding: 10px 15px;
  color: white;
  border-radius: 12px;
  cursor: pointer;
}

.delete-group button:hover{
  opacity: 0.7;
}

.delete{
  background-color: rgb(206, 11, 11) ;
}

.cancel{
  background-color: rgb(21, 110, 145) ;
}


@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 80%);
  }
  100% {
    background-color: hsl(200, 20%, 95%);
  }
}

@media (max-width: 768px) {

  .menu-icon {
    font-size: 25px;
    display: block;
    cursor: pointer;
    transition: 0.2s;
  }
  .menu-icon.active {
    color: red;
  }

  .nav-list{
    transition: 0.5s;
    position: fixed;
    top: 68px;
    left: -100%;
    width: 100vw;
    height: 96vh;
    background-color: #1b1b1b;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    z-index: 999;
    font-size: 40px;
    gap: 50px;
  }

  .nav-list.active{
    transition: 0.5s;
    
    left: 0;
    display: flex;
  }

  .links{
    margin-top: 260px;
    font-size: 50px;
  }
  .icon {
    padding: 10px 10px;
    font-size: 40px;
  }
  .input-field {
    font-size: 30px;
  }
  .card-container{
    border-radius: 5px;
    max-width: 180px;
    height:350px;
    position: relative;
  }
  .title{
    font-size: 10px;
  }
  .episodes{
    font-weight: 300;
    font-size: 9px;
  }
  .pagination {
    font-size: 0.825rem;
    line-height: 1.25rem;
    margin-left: -25px;
  }

  .pagination .page-num {
    padding: 6px 12px;
  }

  .add-button{
    width: 95%;
}
  .modal{
    left: 0;
    width: 100%; /* Full width */
  }
  .modal-box{
    padding: 25px 12px;
    width: auto;
  }
  .modal-header-container span{
    font-size: 18px;
  }
  /* The Close Button */
  .close {
    font-size: 25px;
  }

  .submodal{
    left: 10%;
    width: 80%; /* Full width */
    height: 80%; /* Full height */
  }

  .Accordion-container{
    margin: 20px 12px;
    border: 1px dashed #a71010;

  }

  
}