#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  background-color: #1b1b1b;
  color: #fff;
}
.logo{
  max-width: 150px;
  cursor: pointer;
}

.nav-list {
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-family: 'Exo 2', sans-serif;
}

.links {
  color: white;
  cursor: pointer;
  transition: color 0.2s;
}

.links:hover{
  color: red;
}

.searchbar {
  background-color: #363636;
  border-radius: 10px;
  width: 75%;
  display: flex;
  align-items: center;
}

.icon {
  cursor: pointer;
  padding: 10px 8px;
  font-size: 20px;
  color: white;
  text-align: center;
}

.input-field {
  color: white;
  width: 100%;
  padding:10px 0;
  text-align: left;
  background-color: transparent;
  border: none;
}
.input-field::placeholder{
  font-family: 'Exo 2', sans-serif;
}

.menu-icon {
  display: none;
}


@media (max-width: 768px) {

  .menu-icon {
    font-size: 25px;
    display: block;
    cursor: pointer;
    transition: 0.2s;
  }
  .menu-icon.active {
    color: red;
  }

  .nav-list{
    position: fixed;
    top:72px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1b1b1b;
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    z-index: 999;
    font-size: 40px;
    gap: 50px;
  }

  .nav-list.active{
    display: flex;
  }

  .links{
    margin-top: 260px;
    font-size: 50px;
  }
  .icon {
    padding: 10px 10px;
    font-size: 40px;
  }
  .input-field {
    font-size: 30px;
  }
}

